.sheet {
  padding: 20px;
  width: 100%;
  background-color: white;
  overflow: auto;
}

.sheet-head {
  border-bottom: 1px solid black;
}

.sheet-row {
  width: 100%;
  margin-block: 20px;
}

.sheet-header-cell {
  padding: 12px;
  background-color: rgb(236, 236, 236);
  font-weight: bold;
  color: rgb(67, 66, 66);
}

.sheet-header-cell.selected {
  background-color: rgb(193, 214, 224);
  outline: 2px solid rgb(149, 163, 194);
}

.sheet-cell {
  width: fit-content;
}

.sheet-input {
  height: 48px;
  outline: none;
  border: none;
  font-size: 16px;
  padding-inline: 12px;
  width: 100%;
}

.sheet-input:focus {
  border: 2px solid rgb(18, 64, 162);
}

.sheet-input.selected {
  background-color: rgb(193, 214, 224);
  outline: 2px solid rgb(149, 163, 194);
}
